<div class="w-full max-w-3xl">
    <!-- Section -->
    <div class="w-full">
        <div class="text-xl">{{'wallet' | transloco | capitalize}}</div>
        <div class="text-secondary">{{'manage your coin wallet' | transloco |
            capitalize}}</div>
    </div>
    <!-- Divider -->
    <div class="my-10 border-t"></div>

    <div class="flex flex-auto items-center justify-between gap-6">
        <mat-form-field class="w-full" subscriptSizing="dynamic">
            <input [(ngModel)]="newWalletAddress" matInput type="text">
        </mat-form-field>
        <button mat-flat-button class="rounded-md bg-lime-500" (click)="addWalletAddress()">
            {{'add' | transloco | capitalize}}
        </button>
    </div>
    <ng-container *ngIf="user.wallets.length">
        <div class="my-6">
            <div *ngFor="let wallet of user.wallets"
                class="flex flex-auto items-center justify-between bg-card dark:bg-stone-900 drop-shadow-md rounded-md p-2">
                {{wallet}}
                <button mat-icon-button (click)="removeWalletAddress(wallet)">
                    <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                </button>
            </div>
        </div>
    </ng-container>
</div>