<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto">
                <!-- Header -->
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between p-0 md:p-6">
                    <div class="w-full md:w-fit md:rounded-md bg-card shadow p-2 items-end">
                        <div class="text-secondary text-xl">
                            {{'account cash' | transloco | capitalize}}
                        </div>
                        <div class="text-3xl mt-2 mb-6">
                            {{user.cash | currency}}
                        </div>
                        <div class="flex justify-between gap-6">
                            <button mat-flat-button routerLink="./deposit" class="bg-transparent p-1">
                                <div class="flex items-center gap-2 hover:cursor-pointer">
                                    <span class="text-lime-500">
                                        <mat-icon svgIcon="heroicons_outline:arrow-circle-down"></mat-icon>
                                    </span>
                                    <span class="text-sm">
                                        {{'deposit' | transloco | capitalize}}
                                    </span>
                                </div>
                            </button>
                            <button mat-flat-button routerLink="./cashTransfer" class="bg-transparent p-1">
                                <div class="flex items-center gap-2">
                                    <span class="text-red-500">
                                        <mat-icon svgIcon="heroicons_outline:arrow-circle-down"></mat-icon>
                                    </span>
                                    <span class="text-sm">
                                        {{'cash transfer' | transloco | capitalize}}
                                    </span>
                                </div>
                            </button>
                            <button mat-flat-button routerLink="./withdraw" class="bg-transparent p-1">
                                <div class="flex items-center gap-2">
                                    <span class="text-red-500">
                                        <mat-icon svgIcon="heroicons_outline:arrow-circle-down"></mat-icon>
                                    </span>
                                    <span class="text-sm">
                                        {{'withdraw' | transloco | capitalize}}
                                    </span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="relative">
                    <!-- Main actions -->
                    <!-- <div class="hidden md:flex items-center p-6">
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full min-w-50"
                            subscriptSizing="dynamic">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                                [placeholder]="'search orders' | transloco | capitalize">
                        </mat-form-field>
                    </div> -->
                    <ng-container *ngIf="depositOrders$ | async as depositOrders">
                        <ng-container *ngIf="depositOrders?.length">
                            <ng-container *ngFor="let depositOrder of depositOrders; let i = index; trackBy: trackByFn">
                                <!-- Group -->
                                <ng-container
                                    *ngIf="i === 0 || moment(depositOrder.time).format('YYYY/MM/dd') !== moment(depositOrders[i - 1].time).format('YYYY/MM/dd')">
                                    <div class="flex z-10 sticky my-2 gap-2 items-center bg-card dark:bg-default">
                                        <div class="flex-auto mt-px border-t min-w-6 md:min-w-8"></div>
                                        <div class="rounded-full p-2 bg-card shadow-md">
                                            {{depositOrder.time | date: 'YYYY/MM/dd'}}
                                        </div>
                                        <div class="flex-auto mt-px border-t w-full"></div>
                                    </div>
                                </ng-container>
                                <a class="z-20 flex items-center px-6 py-2 md:px-8 cursor-pointer"
                                    [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedOrder || selectedOrder._id !== depositOrder._id,
                                                'bg-primary-50 dark:bg-hover': selectedOrder && selectedOrder._id === depositOrder._id}"
                                    [routerLink]="['./deposit', depositOrder._id]">
                                    <div
                                        *ngIf="!depositOrder.status || depositOrder.status === DepositOrderStatus.PENDING">
                                        <div
                                            class="absolute rounded-full icon-size-3 transition duration-150 animate-ping bg-amber-500">
                                        </div>
                                        <div class="icon-size-3 rounded-full bg-amber-500"></div>
                                    </div>
                                    <div *ngIf="depositOrder.status === DepositOrderStatus.SUCCESS">
                                        <div class="icon-size-3 rounded-full bg-lime-500"></div>
                                    </div>
                                    <div *ngIf="depositOrder.status === DepositOrderStatus.CANCELED">
                                        <div class="icon-size-3 rounded-full bg-red-500"></div>
                                    </div>
                                    <div class="min-w-0 ml-2">
                                        <div class="font-medium leading-5 truncate">
                                            {{depositOrder.transactionId ?? 'unknow' | transloco | capitalize}}
                                        </div>
                                        <div class="leading-5 truncate text-secondary">
                                            {{depositOrder.time | date : 'YYYY/MM/dd HH:mm:ss'}}
                                        </div>
                                    </div>
                                </a>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>