<div class="flex flex-col w-full">
    <!-- Header -->
    <div class="relative w-full px-8 sm:px-12 bg-transparent">
        <!-- Close button -->
        <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6 pb-2">
            <button mat-icon-button [routerLink]="['../']" [cdkCopyToClipboard]="appConfig.MASTER_ADDRESS">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>
    <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
        <div class="w-full max-w-3xl">
            <div class="pb-4 border-b justify-center">
                <div class="flex items-center justify-between bg-slate-800 shadow-md rounded-md p-2">
                    <div class="truncate">
                        {{appConfig.MASTER_ADDRESS}}
                    </div>
                    <button mat-icon-button>
                        <mat-icon svgIcon="heroicons_outline:clipboard-copy"></mat-icon>
                    </button>
                </div>
                <div class="w-36 h-36 my-2 mx-auto">
                    <qrcode [qrdata]="appConfig.MASTER_ADDRESS" [errorCorrectionLevel]="'M'" class="w-36"></qrcode>
                </div>
            </div>
            <div class="flex w-full my-2 justify-between items-center gap-2 pb-2 border-b">
                <mat-form-field class="w-full">
                    <mat-label>
                        {{'transaction hash' | transloco |capitalize}}
                    </mat-label>
                    <input matInput type="text" [placeholder]="'transaction hash hint' | transloco | capitalize">
                </mat-form-field>
                <button mat-flat-button class="bg-lime-500">
                    <mat-icon svgIcon="heroicons_outline:check-circle"></mat-icon>
                    <span>{{'check' | transloco | capitalize}}</span>
                </button>
            </div>
            <ng-container *ngIf="editMode; else viewPanel">
            </ng-container>
            <ng-template #viewPanel>

            </ng-template>
        </div>
    </div>
</div>