<div class="flex flex-col w-full">
    <!-- Header -->
    <div class="flex relative w-full px-8 sm:px-12 py-4 md:py-6 bg-transparent items-center"
        [ngClass]="{'justify-between': withdrawOrder, 'justify-end': !withdrawOrder}">
        <div *ngIf="withdrawOrder" class="text-3xl text-red-500 font-bold">
            -{{withdrawOrder.amount | currency}}
        </div>
        <button mat-icon-button [routerLink]="['../']">
            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="relative flex flex-col flex-auto items-center p-6 pt-4 sm:p-12 border-t">
        <div class="w-full max-w-3xl">
            <!-- edit mode -->
            <ng-container *ngIf="!withdrawOrder">
                <div
                    class="flex flex-col space-y-8 -mx-6 sm:-mx-12 pr-4 pl-1 sm:pr-12 sm:pl-7 bg-gray-50 dark:bg-transparent">
                    <form [formGroup]="form">
                        <div class="flex w-full my-2 justify-between items-center gap-2 pb-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full" subscriptSizing="dynamic">
                                <mat-label>
                                    {{'receiving address' | transloco | capitalize}}
                                </mat-label>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                                <input matInput formControlName="userAddress" type="text" [autocomplete]="'off'"
                                    [placeholder]="'enter receiving address' | transloco | capitalize">
                                <mat-error *ngIf="form.get('userAddress').hasError('required')">
                                    {{'receiving address is required' | transloco | capitalize}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex w-full my-2 justify-between items-center gap-2 pb-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full" subscriptSizing="dynamic">
                                <mat-label>
                                    {{'amount' | transloco | capitalize}}
                                </mat-label>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                <input matInput formControlName="amount" type="number" value="0"
                                    [placeholder]="'enter amount' | transloco | capitalize">
                                <mat-error *ngIf="form.get('amount').hasError('required')">
                                    {{'amount is required' | transloco | capitalize}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex w-full my-2 justify-between items-center gap-2 pb-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full" subscriptSizing="dynamic">
                                <mat-label>
                                    {{'memo optional' | transloco | capitalize}}
                                </mat-label>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                                <input matInput type="text" [autocomplete]="'off'"
                                    [placeholder]="'enter your message' | transloco | capitalize">
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <!-- Actions -->
                <div
                    class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-5 sm:pr-12 sm:pl-5 border-t bg-gray-50 dark:bg-transparent">
                    <!-- Cancel -->
                    <button color="primary" class="ml-auto" mat-button (click)="createWithdrawOrder()">
                        <span *ngIf="!form.disabled">
                            {{'withdraw' | transloco | capitalize}}
                        </span>
                        <mat-progress-spinner *ngIf="form.disabled" [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="withdrawOrder">
                <div
                    class="flex flex-col space-y-8 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 bg-gray-50 dark:bg-transparent">
                    <ng-container *ngIf="withdrawOrder.amount">
                        <div class="flex sm:items-center">
                            <mat-icon svgIcon="heroicons_outline:currency-dollar"></mat-icon>
                            <div class="ml-6 leading-6 truncate">{{withdrawOrder.amount | currency}}
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="withdrawOrder.time">
                        <div class="flex sm:items-center">
                            <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                            <div class="ml-6 leading-6 truncate">{{withdrawOrder.time | date: 'YYYY/MM/dd HH:mm:ss'}}
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="withdrawOrder.userAddress">
                        <div class="flex sm:items-center">
                            <mat-icon svgIcon="heroicons_outline:arrow-circle-up"></mat-icon>
                            <div class="ml-6 leading-6 truncate">{{withdrawOrder.userAddress}}</div>
                            <button mat-icon-button [cdkCopyToClipboard]="withdrawOrder.userAddress">
                                <mat-icon svgIcon="heroicons_outline:clipboard-copy"></mat-icon>
                            </button>
                        </div>
                    </ng-container>
                    <div
                        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
                        <button mat-button [color]="'warn'" [matTooltip]="'delete' | transloco | capitalize"
                            (click)="deleteWithdrawOrder()"
                            *ngIf="withdrawOrder.status != OrderStatus.SUCCESS && withdrawOrder.status != OrderStatus.CANCELED">
                            {{'delete' | transloco | capitalize}}
                        </button>
                        <!-- Cancel -->
                        <button class="ml-auto" mat-button [matTooltip]="'cancel' | transloco | capitalize"
                            [routerLink]="['../']">
                            {{'cancel' | transloco | capitalize}}
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>