<div class="w-full h-full p-6">
    <div class="flex md:flex-auto w-fit p-6 rounded-lg bg-card dark:bg-slate-700 mx-auto gap-6">

        <!-- Bet Cash Controller -->
        <div class="px-2 md:min-w-64">
            <ng-container *ngIf="!minesRound || (minesRound?.closed && minesRound?.masterPaid)">
                <!-- Bet Area -->
                <form [formGroup]="betForm" class="w-full">
                    <mat-form-field class="w-full drop-shadow-lg">
                        <mat-label>{{'bet amount' | transloco | capitalize}}</mat-label>
                        <span>{{'$' | transloco | capitalize}}</span>
                        <input matInput type="number" formControlName="betAmount" class="ml-2">
                    </mat-form-field>
                    <div class="flex flex-auto mb-4 justify-start gap-2">
                        <button mat-flat-button class="rounded-md bg-primary" (click)="multipleBetAmount(1/2)">
                            {{'half'| transloco | capitalize}}
                        </button>
                        <button mat-flat-button class="rounded-md bg-primary" (click)="multipleBetAmount(2)">
                            {{'x2'| transloco | capitalize}}
                        </button>
                        <button mat-flat-button class="rounded-md bg-primary" (click)="addAll()">
                            {{'all'| transloco | capitalize}}
                        </button>
                    </div>
                    <mat-form-field class="w-full drop-shadow-lg">
                        <mat-label>{{'mines' | transloco | capitalize}}</mat-label>
                        <mat-select formControlName="mines">
                            <mat-option *ngFor="let mine of mines; let i = index" [value]="i + 1">{{i +
                                1}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <button mat-flat-button class="w-full rounded-md bg-lime-500 drop-shadow-lg"
                    (click)="createMinesRound()">
                    <span *ngIf="!betForm.disabled">{{'bet' | transloco | capitalize}}</span>
                    <mat-progress-spinner *ngIf="betForm.disabled" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </ng-container>

            <!-- Started Game Area -->
            <ng-container *ngIf="minesRound?.started">
                <div class="w-full">
                    <div class="flex flex-auto w-full gap-2">
                        <span class="font-semibold">
                            {{'bet amount' | transloco | capitalize}}
                        </span>
                    </div>
                    <div class="flex flex-auto w-full rounded-md p-4 gap-2 mt-2 drop-shadow-lg bg-card default:bg-default">
                        <span>{{minesRound?.betAmount | currency}}</span>
                    </div>
                </div>
                <div class="w-full flex flex-auto justify-between gap-6 mt-4">
                    <div class="w-1/2">
                        <div class="flex flex-auto w-full gap-2">
                            <span class="font-semibold">
                                {{'mines' | transloco | capitalize}}
                            </span>
                        </div>
                        <div class="flex flex-auto w-full rounded-md p-4 gap-2 mt-2 drop-shadow-lg bg-card default:bg-default">
                            <span>{{minesRound?.mines}}</span>
                        </div>
                    </div>
                    <div class="w-1/2">
                        <div class="flex flex-auto w-full gap-2">
                            <span class="font-semibold">
                                {{'gems' | transloco | capitalize}}
                            </span>
                        </div>
                        <div class="flex flex-auto w-full rounded-md p-4 gap-2 mt-2 drop-shadow-lg bg-card default:bg-default">
                            <span>{{minesRound?.gems}}</span>
                        </div>
                    </div>
                </div>
                <div class="w-full mt-4">
                    <div class="flex flex-auto w-full gap-2">
                        <span class="font-semibold">
                            {{'profit' | transloco | capitalize}}
                        </span>
                        <span>( x{{minesRound?.profitPercent.toFixed(2)}})</span>
                    </div>
                    <div class="flex flex-auto w-full rounded-md p-4 gap-2 mt-2 drop-shadow-lg bg-card default:bg-default">
                        <span>{{minesRound?.profit | currency}}</span>
                    </div>
                </div>
                <button *ngIf="minesRound.started && !minesRound.closed" mat-flat-button
                    class="w-full rounded-md bg-slate-900 mt-4 drop-shadow-lg">
                    <span *ngIf="!apiCalling">{{'random choose' | transloco | capitalize}}</span>
                    <mat-progress-spinner *ngIf="apiCalling" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
                <button mat-flat-button class="w-full rounded-md bg-lime-500 mt-2 drop-shadow-lg">
                    <span *ngIf="!apiCalling">{{'cashout' | transloco | capitalize}}</span>
                    <mat-progress-spinner *ngIf="apiCalling" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </ng-container>

        </div>


        <!-- Game Board -->
        <div>
            <div class="grid bg-card dark:bg-slate-900 rounded-lg p-6 gap-4 md:grid-cols-5">
                <ng-container *ngIf="!minesRound">
                    <div *ngFor="let box of boxes; let i = index;"
                        class="w-32 h-32 rounded-md bg-slate-500 drop-shadow-lg hover:-translate-y-2 hover:cursor-pointer">
                    </div>
                </ng-container>
                <ng-container *ngIf="minesRound">
                    <div *ngFor="let box of boxes; let i = index;"
                        class="w-32 h-32 rounded-md bg-neutral-600 drop-shadow-md">
                        <div *ngIf="charAt(i, minesRound?.playerChoices) == 0 && !minesRound?.closed"
                            class="w-32 h-32 rounded-md bg-slate-500 drop-shadow-lg hover:-translate-y-2 hover:cursor-pointer"
                            (click)="choose(i)">
                        </div>
                        <div *ngIf="charAt(i, minesRound?.playerChoices) == 0 && minesRound?.closed"
                            class="w-32 h-32 rounded-md bg-slate-500 drop-shadow-lg hover:-translate-y-2 hover:cursor-pointer">
                        </div>
                        <div *ngIf="charAt(i, minesRound?.playerChoices) == 1"
                            class="flex w-32 h-32 rounded-md bg-transparent drop-shadow-lg items-center justify-center">
                            <img class="w-24 h-24" src="/assets/images/mines/gem.svg">
                        </div>
                        <div *ngIf="charAt(i, minesRound?.playerChoices) == 2"
                            class="flex w-32 h-32 rounded-md bg-transparent drop-shadow-lg items-center justify-center">
                            <img class="absolute" [src]="mineEffectImage()">
                            <img class="w-24 h-24" src="/assets/images/mines/mine.svg">
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>